.surveyCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.surveyCard {
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2rem;
  background: #fff;
}
