.header {
  display: flex;
  height: 7rem;
  justify-content: flex-end;
  align-items: center;
  grid-column: main;
}

.header *:not(:first-child) {
  margin-left: 2rem;
}

.logo {
  margin-right: auto;
}

.credits {
  padding: 0.75rem;
  color: #7acc66;
  font-size: 1.8rem;
}
